body {
  background-color: lightblue;
}

h1{
  color:black;
  font-family: Arial, Cursive, sans-serif;
  font-size: 
  }
.header{
  background-color: black
  border: 1px solid black
  padding-left:20px
  }

h2{
  color: 
  
}

h3{
  color: lightb
}


div{
  border: 1px solid black
  
}

